/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

/* ROOT */

:root {
    --lilla:rgb(#9792e4);
    --blue:rgb(#0084fd);
    --grey:rgb(#5b6f81);
}



/****************************************
COMMON
*****************************************/

/* structure */
.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.section {
    width: 100%;
}

.container {
    width: 95%;
    margin: 0 auto;
    padding: 2rem 0;
    height: 100%;
}

.card {
    flex-direction: column;
    border-radius: 40px;
    padding: 20px;
}

/* background colors */
.white {
    background-color: white;
    color: black;
}

.lilla {
    background-color: var(--lilla);
    color: white;
}

/* items */

.button {
    border-radius: 40px;
    padding: 15px;
    margin: 0 auto;
}

img {
    width: 100%;
}

p {
    padding: 10px 0;
}

h3 {
    color: var(--blue);
    padding: 10px 0;
}

/****************************************
end COMMON
*****************************************/



/****************************************
header
*****************************************/

header {
    background-color: var(--blue);
    width: 100%;
    height: 90px;
    padding: 10px 0;
    color: white;
}

header .container {
    justify-content: space-between;
    align-content: center;
}

/****************************************
end header
*****************************************/



/****************************************
1rst-section
*****************************************/

.section1 .container {
    flex-direction: column;
    justify-content: space-between;
}

.section1 .card {
    background-color: #b5ddff;
    margin: 0 auto;
    color: rgb(78, 74, 74);
}

.section1 .button {
    background-color: #0084fd;
    color: white;
}

/****************************************
END 1rst section
*****************************************/

/****************************************
2nd section
*****************************************/

.section2 .card {
    background-color: white;
    color: black;
}

.section2 .button {
    background-color: #9792e4 ;
    color: black;
}

.section2 .transparent {
    background-color: #9792e4 ;
    color: white;
}

.section2 .transparent h3 {
    color: white;
}

/****************************************
end 2nd section
*****************************************/



/****************************************
3rd section
*****************************************/

.section3 .card {
    background-color: #9792e4;
    color: white;
}

.section3 .card h3 {
    color: white;
}

.section3 .transparent {
    background-color: white;
}

.section3 .trasnparent h3 {
    color: #9792e4 ;
}

.section3 .img-container img {
    border-radius: 100px;
    width: 100%;
}

/****************************************
3rd section
*****************************************/



/****************************************
4rth section
*****************************************/

.section4 .card {
    background-color: white;
    color: rgb(78, 74, 74);
}

.section4 h2, .section4 h3 {
    color: #9792e4;
}

.section4 .button {
    background-color: #9792e4;
    color: white;
}

/****************************************
end 4rth section
*****************************************/


/****************************************
5th section
*****************************************/

.section5 h2, .section5 h3 {
    color: #9792e4;
}

.section5 img {
    border-radius: 100px;
}

/****************************************
end 5th section
*****************************************/



/****************************************
SOLUZIONE RESPONSIVE
*****************************************/


@media screen and (min-width: 768px;) {

}

@media screen and (min-width: 992px;) {
    
}

@media screen and (min-width: 1200px;) {
    
}